.modal {
  background-color: rgba(8, 5, 9, 0.42);
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  background-color: rgba(0, 9, 46, 0.78);
  border-radius: 4px;
  display: flex;
  margin: auto;
  padding: 20px;
  pointer-events: none;
  transition: 0.3s all;
  width: 50vw;
}
.modal__content.active {
  pointer-events: all;
  margin-bottom: 8rem;
}
input,
button {
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 8px 0;
  text-align: center;
}
.dropdown-toggle {
  border-radius: 4px;
  width: 100%;
}
