.modal{
    width: 100vw;
    background-color: rgba(8, 5, 9, 0.42);
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0;
    pointer-events: none;
    /*transition: 0.3s;*/
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    border-radius: 12px;
    background-color: rgba(7, 14, 40, 0.78);
    padding: 20px;
    display: flex;
    float: right;
    position: fixed;
    margin: auto;
    right: 0;
    /*transition: 0.3s all;*/
    /*width: 60vw;*/
    pointer-events: none;
    /*columns: 1;*/
}

.modal__content.active{
    pointer-events: all;
}